.App {
overflow-y: hidden;
position: relative;
}

a:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
  }

.link:hover {
  color:#D87D4A !important;
  cursor:pointer
}

.btn-light-custom {
  background-color: #D87D4A;
  font-size: 13px;
  letter-spacing:1px;
  width: 160px;
  height: 48px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0px;
}
.btn-light-custom:hover {
  background-color: #FBAF85;
  cursor: pointer;
}
.btn-light-custom:active {
  background-color: #FBAF85 !important;
  cursor: pointer;
}

.btn-dark-custom {
  background-color: #000000;
  font-size: 13px;
  letter-spacing:1px;
  width: 160px;
  height: 48px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0px;
}
.btn-dark-custom:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}
.btn-dark-custom:active {
  background-color: #4c4c4c !important;
  cursor: pointer;
}

.btn-dark-outline-custom {
  background-color: transparent;
  font-size: 13px;
  letter-spacing:1px;
  width: 160px;
  height: 48px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 0px;
  color:#000000
}
.btn-dark-outline-custom:hover {
  background-color: #000000 !important;
  cursor: pointer;
}
.btn-dark-outline-custom:active {
  background-color: #000000 !important;
  cursor: pointer;
}
#checkout-btn {
  width: 100% !important;
}

#cart-close:hover {
  color: #D87D4A;
  cursor: pointer;
}

/*Home hero section */
#hero-section {
  overflow: hidden;
}

/*Home category section */

.category-link:hover{
  color:#D87D4A !important;
  opacity:1 !important
}

/*Product page styling */

.in-box-ul {
  list-style-type:none;
  padding:0px;
}

.in-box-li {
  margin-bottom: 15px;
  font-size: 15px;
  opacity: 50%;
}

/*Css for tablet breakpoints */

@media only screen 
  and (max-device-width: 768px) and (min-device-width: 481px)
 {

    /*Home hero section */

    #hero-section {
      height: 640px !important;
      
    }

    #hero-text-container {
      width: 400px !important;
      text-align: center;
      margin: 0 auto
    }

    #hero-subtext {
      margin: 0 auto;
    }

    #hero-btn {
      margin: 0 auto;
      margin-top:35px  !important
    }

    #hero-image {
      width: 100% !important;
      position: absolute;
      top:-530px;
      left:0px !important
    }

    /*Home categories section */

    .home-categories-image {
      width: 200px !important
    }

    /*Home featured products section */

    #first-product {
      height:720px !important
    }

    #first-product-text-container {
      transform: translate(-50%, -50%) !important;
      left:50% !important;
      bottom: -200px !important;
      text-align:center !important
    }

    #featured-first-btn {
      margin: 55px auto !important;
    }

    #featured-first-image {
      top:170px !important;
      left: 50% !important;
      transform: translate(-50%,-50%) !important;
      height:200px !important
    }
    #featured-first-pattern {
      top:170px !important;
      left: 50% !important;
      transform: translate(-50%,-50%) !important;
      
    }

    #featured-third-image {
      width: 100% !important;
      height: 100% !important;
    }

    #featured-third-text {
      padding-top:100px !important;
      padding-left:50px !important;
    }

    #featured-third-text-heading {
      font-size: 28px !important;
    }

    /*Information section */

    #information-text-section { 
      order:2;
      
      
      
    }
    #information-text-container { 
      text-align: center;
      width: 573px !important;
      margin: 30px auto !important;
      
    }
    #information-image-section { 
      order:1
    }

    /*Footer  */

    #footer-text-section {
      width: 100% !important
    }

    #footer-links-container {
      margin-top: 30px !important;
    }

    .footer-link {
      margin-left :0px !important;
      margin-right:35px !important
    }

    /*Categories page */

    #category-product-row {
      margin-top: 115px !important;
      margin-bottom: 115px !important;
    }

    .category-product-text-container {
      margin-top: 60px !important;
      padding-left: 50px !important;
      padding-right: 50px !important;
      text-align: center;
    }

    .category-product-btn {
      margin: 30px auto !important;
    }

    #category-product-right-text {
      order: 2;
    }
    #category-product-right-image {
      order: 1;
    }

    /*Product page Tablet styling */

    .product-container {
      text-align: left !important;
    }

    .product-title {
      font-size: 28px !important;
      letter-spacing: 1px !important;
      font-weight:bold !important
    }

    .product-add-to-cart-container {
      align-items: center;
    }

    .category-product-text-container {
      padding-right:30px !important;
      margin-top:40px !important
    }

    .featured-right {
      flex-direction: row !important;
      align-items: flex-start !important;
      margin-top: 120px !important;
    }

    .in-box-heading {
      flex: 1;
    }

    .in-box-ul {
      flex: 1;
    }

    .three-images-row {
      height: 362px !important;
      margin-top: 100px !important;
    }

    /*Cart styling tablet */

    #cart-container {
      right:40px !important
    }
}

/*Mobile breakpoint */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Home hero section styles */

  #hero-section {
    height:530px  !important;
    width: 100% !important
  }

  #hero-text-container {
    width:100% !important;
    text-align: center !important;
  }

  #hero-heading {
    font-size:36px !important
  }

  #hero-subtext {
    margin: 0 auto !important;
    width: 90% !important;
  }

  #hero-image {
    width:100% !important;
    top:-520px !important;
    left: 0 !important;
  }

  #hero-btn {
    margin: 30px auto
  }

  /* Home Categories section styles */
 
  #categories-container {
    margin-top:0px !important
  }
  .home-category-box {
    margin-top: 70px
  }

  .home-categories-image {
    width:180px !important
  }

  .home-category-box {
    height:165px !important
  }

  .home-category-text-container {
    padding-top:95px !important
  }

  .categories-header {
    font-size:15px !important
  }

  /*Featured products mobile style */

  #featured-container {
    height: auto !important;
    margin-top:160px !important
  }

  #first-product {
    height:600px !important;
  }
  #first-product-text-container {
    margin-top:300px !important
  }

  #featured-first-image {
    height:180px !important;
    left:50% !important;
    transform: translate(-50%,-50%) !important;
    top:150px !important
  }

  #first-product-text-container {
    text-align: center;
    right: 0 !important;
  }

  .featured-product-header {
    font-size: 36px !important;
  }
  .featured-product-subtext {
    font-size: 15px !important;
  }

  #featured-first-btn {
    margin:20px auto !important
  }

  #second-product {
    height: 320px !important;
  }

  #second-product-text-container {
    padding-left: 30px !important;
  }

  #featured-second-image {
    width:100% !important
  }

  .featured-third-box {
    height: 200px !important;
  }

  #featured-third-image {
    width:100% !important
  }

  #featured-third-text {
    margin:15px  !important;
    margin-top: 25px !important;
    padding-top:40px !important;
    padding-left: 25px !important;
  }

  /*Information section mobile style */

  #information-container {
    height:700px !important;
    margin-top: 120px !important;
    margin-bottom: 50px !important;
  }

  #information-image-section {
    order:1 !important
  }
  #information-text-section {
    order: 2 !important;
  }

  #information-text-container {
    width: 100% !important;
    text-align:center !important
  }

  #information-heading {
    font-size: 28px !important;
    font-weight:bold !important
  }

  /*Footer styling mobile  */

  
  .footer-link {
    margin-left: 0px !important;
    margin-bottom: 25px !important;
  }

  #footer-links-container {
  }

  #footer-logo {
    text-align: center !important;
    margin-bottom: 40px;
  }

  .footer-link {
    text-align: center;
  }

  #footer-text {
    text-align: center;
  }
  #footer-copywright {
    text-align: center;
    margin-top: 40px !important;
  }

  /*Categories page */

  #category-page-header-container {
    height: 120px !important;
  }

  #category-product-row {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }

  .category-product-text-container {
    margin-top: 60px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
  }

  .category-product-btn {
    margin: 30px auto !important;
  }

  #category-product-right-text {
    order: 2;
  }
  #category-product-right-image {
    order: 1;
  }

  .category-product-title {
    font-size: 28px !important;
  }

  /*Product page mobile styling */

  .product-container {
    text-align: left !important;
  }

  .product-add-to-cart-container {
    align-items: center !important;
  }

  .featured-right {
    align-items: flex-start !important;
    margin-top: 90px !important;
  }

  .three-images-row { 
    height: 756px !important;
    margin-top:80px !important
  }

  .three-images-3 {
    margin-top: 30px ;
  }

  .recommended-container {
    margin-top:115px !important
  }

  .recommended-heading {
    font-size: 28px !important;
    text-align: center;
  }

  .recommended-image-container {
    height: 120px !important;
  }

  .recommended-product-container {
    margin-bottom:55px
  }

  /* Cart styling mobile*/

  #cart-container {
    left:50% !important;
    transform: translate(-50%) !important;
    right: 0 !important;
    width: 90% !important;
  }

  }

  /*Checkout modal styling */

  .checkout-modal {
    max-width: 540px !important;
    width: 540px !important;
  }

  .modal-body {
    padding: 50px;
    border-radius: 8px  !important;
  }

