.App {
overflow-y: hidden;
}

a:hover {
  text-decoration: none;
}

.link:hover {
  color:#D87D4A !important;
  cursor:pointer
}


.btn-light-custom {
  background-color: #D87D4A;
  font-size: 13px;
  letter-spacing:1px;
  width: 160px;
  height: 48px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0px;
}
.btn-light-custom:hover {
  background-color: #FBAF85;
  cursor: pointer;
}
.btn-light-custom:active {
  background-color: #FBAF85 !important;
  cursor: pointer;
}

.btn-dark-custom {
  background-color: #000000;
  font-size: 13px;
  letter-spacing:1px;
  width: 160px;
  height: 48px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0px;
}
.btn-dark-custom:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}
.btn-dark-custom:active {
  background-color: #4c4c4c !important;
  cursor: pointer;
}

.btn-dark-outline-custom {
  background-color: transparent;
  font-size: 13px;
  letter-spacing:1px;
  width: 160px;
  height: 48px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 0px;
  color:#000000
}
.btn-dark-outline-custom:hover {
  background-color: #000000 !important;
  cursor: pointer;
}
.btn-dark-outline-custom:active {
  background-color: #000000 !important;
  cursor: pointer;
}

/*Home category section */

.category-link:hover{
  color:#D87D4A !important;
  opacity:1 !important
}

/*Css for tablet breakpoints */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    /*Home hero section */

    #hero-section {
      height: 640px !important;
    }

    #hero-text-container {
      width: 400px !important;
      text-align: center;
      margin: 0 auto
    }

    #hero-subtext {
      margin: 0 auto;
    }

    #hero-btn {
      margin: 0 auto;
      margin-top:35px  !important
    }

    #hero-image {
      width: 100% !important;
      position: absolute;
      top:-530px;
      left:0px !important
    }

    /*Home categories section */

    .home-categories-image {
      width: 200px !important
    }

    /*Home featured products section */

    #first-product {
      height:720px !important
    }

    #first-product-text-container {
      transform: translate(-50%, -50%) !important;
      left:50% !important;
      bottom: -200px !important;
      text-align:center !important
    }

    #featured-first-btn {
      margin: 55px auto !important;
    }

    #featured-first-image {
      top:170px !important;
      left: 50% !important;
      transform: translate(-50%,-50%) !important;
      height:200px !important
    }
    #featured-first-pattern {
      top:170px !important;
      left: 50% !important;
      transform: translate(-50%,-50%) !important;
      
    }

    #featured-third-image {
      width: 100% !important;
      height: 100% !important;
    }

    #featured-third-text {
      padding-top:100px !important;
      padding-left:50px !important;
    }

    #featured-third-text-heading {
      font-size: 28px !important;
    }
}

